:root {
  --title-text-color: #212121;
  --white-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-font-family: 'Roboto', sans-serif;
  --main-font-style: normal;
  --accent-font-family: 'Raleway', sans-serif;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --color-button-list-btn: #f5f4fa;
  --dark-background-color: #188ce8;
  --background-color-fon: #2f303a;
  --light-color-fon: #f5f4fa;
  --main-logo-color: #000000;
  --card-border-color: #eeeeee;
}

/* -------------- СТИЛИЗАЦИЯ ДЛЯ ВСЕХ---------------------------------------- */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  font-style: var(--main-font-style);
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* -------------- СТИЛИЗАЦИЯ ЛОГОТИП---------------------------------------- */

.logo,
.logo-footer {
  font-family: var(--accent-font-family);
  font-weight: bold;
  line-height: 1.192;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo {
  margin-right: 93px;
  color: var(--main-logo-color);
}
.web {
  color: var(--accent-color);
}

.logo-footer {
  display: block;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* -------------- СТИЛИЗАЦИЯ header--------------------------------------- */

.header-page {
  border-bottom: 1px solid #ececec;
}

a.link-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
/*   */

.header-page .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  padding-left: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-list-link:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;

  padding-left: 0px;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link a:hover,
.nav-list-link a:focus,
.contacts-list-item a:hover,
.contacts-list-item a:focus,
.current-page {
  color: var(--accent-color);
}

.contacts-list-item {
  font-weight: 500;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* -------------- СТИЛИЗАЦИЯ html---------------------------------------- */
.hero-section,
.footer-section {
  background: var(--background-color-fon);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section .container {
  text-align: center;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  vertical-align: inherit;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.modal-button:hover,
.modal-button:focus {
  background: var(--dark-background-color);
}

.advantage-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.advantage-list-item {
  width: 270px;
}

.advantage-list-item:not(:last-child) {
  margin-right: 30px;
}

.title,
.advantage-list-title {
  color: var(--title-text-color);
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 50px;
}

.advantage-list-title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantage-list-description {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.services-section {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.services-list-item:not(:last-child) {
  margin-right: 30px;
}

/*------------- TEAM SECTION---------------------- */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--light-color-fon);
}

.team-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.team-list-item {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item-name,
.team-list-item-position {
  font-size: 16px;
  line-height: 1.188;
}

.team-list-item-name {
  color: var(--title-text-color);
  font-weight: 500;
}

.team-list-item-data {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* -------------- СТИЛИЗАЦИЯ portfolio---------------------------------------- */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.button-list-btn {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;

  line-height: 1.6325;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  cursor: pointer;
  background: none;
  padding: 6px 22px;
  border: none;
  background-color: var(--color-button-list-btn);
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.btn-main {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.button-list-btn:hover,
.button-list-btn:focus,
.button-list-btn:active {
  color: var(--white-color);
  background: var(--dark-background-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.projects-list-item {
  border-bottom: 1px solid #eeeeee;
}

.projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-list-item-data {
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.projects-list-item-name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list-item-link {
  display: block;
  width: 370px;
}

.projects-list-item-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.projects-list-item-description {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
}

/* -------------- СТИЛИЗАЦИЯ address list---------------------------------------- */

.address {
  color: var(--white-color);
}

.address-list {
  padding-left: 0;
}
.address-list-item {
  display: block;
  font-style: normal;
  color: var(--white-color);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-item a:hover,
.address-list-item a:focus {
  color: var(--accent-color);
}

.address-list-link {
  opacity: 0.6;
}
